.continueshopping {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: white;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  .continueshopping:hover {
    background: white;
  }
  
  .continueshopping > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .continueshopping:hover svg {
    transform: translateX(5px);
  }
  
  .continueshopping:active {
    transform: scale(0.95);
  }

  /* remove btn */

  .deletebutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
   }
   
   .deletebutton :hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
   }
   
   .tooltip {
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }
  
   .cart-item {
    margin-bottom: 1rem;
  }
  
  .cart-item-container {
    display: flex;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add grey box-shadow */
  }
  
  .image-container {
    width: 30%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
  }
  
  .image-container img {
    max-height: 100%; /* Adjust the image size to fit the container */
    width: auto;
  }
  
  .content {
    flex-grow: 1;
    padding: 0.5rem;
  }
  
  .deletebutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    padding-top: 23px;
  }
  
  .deletebutton:hover {
    background-color: #f0f0f0;
  }
  
  .tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -30px;
    right: -5px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  /* number increase */

  .number-control {
    display: flex;
    align-items: center;
  }
  
  .number-left::before,
  .number-right::after {
    content: attr(data-content);
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 20px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .number-left::before {
    content: "-";
  }
  
  .number-right::after {
    content: "+";
  }
  
  .number-quantity {
    padding: 0.25rem;
    border: 0;
    width: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .number-left:hover::before,
  .number-right:hover::after {
    background-color: #666666;
  }
  
  